@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base: #F4F5F7;
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-base: var(--base);
}

@media (prefers-color-scheme: dark) {
  :root {
     --colorLight: #F4F5F7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manr), sans-serif;
}